#is-paused
.background
.icons
#webcam-live-stream.webcam
  #loading
.chat-wrapper
  .chat
    .hide-scrollbar
    .name Megan
    .status.
      ready for the weekend | megan01@hotmail.com
    .is-writting.
      Last message received at 5:27 PM on 12/04/2007
    //-.write.
      |
    .avatar-1
    .avatar-2
    .chat-container
      ul#discussion
    #writing-holder
      textarea.chat-writing-box#writing-box(placeholder="Your message here..." contenteditable="true")
    

.windows.windows-nav__left
.windows.windows-nav__mid
.windows.windows-nav__right
